@model IEnumerable<TheWorld.Models.Trip>

@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h1>Bienvenidos a The World</h1>
        <p>esta aplicación le permitirá planificar viajes por todo el mundo</p>
        <a asp-controller="App" asp-action="trips" class="btn btn-lg btn-success">Ver mis viajes</a>
    </div>
</div>
