<div>
    <div>
        <a href="#/" class="btn btn-sm btn-default"> <i class="fa fa-angle-left"></i> Atrás</a>
    </div>
    <div class="col-md-3">
        <h2>{{ vm.tripName }}</h2>
        <wait-cursor display-when"vm.isBusy"></wait-cursor>

        <div class="alert alert-danger" ng-show="vm.errorMessage">{{ vm.errorMessage }}</div>

        <table class="table table-responsive table-striped">
            <tr>
                <th>Localización</th>
                <th>Llegada</th>
            </tr>
            <tr ng-repeat="stop in vm.stops">
                <td>{{stop.name}}</td>
                <td>{{stop.arrival | date:shortDate}}</td>
            </tr>
        </table>

        <form action="/" method="post">
            <div class="form-group">
                <label>Fecha:</label>
                <input class="form-control" type="text" name="name" value="" />
            </div>
            <div class="form-group">
                <label>Ubicación:</label>
                <input class="form-control" type="text" name="name" value="" />
            </div>
            <div>
                <input class="btn btn-success" type="submit" value="Agregar" />
            </div>
        </form>
    </div>
    <div class="col-md-9">
        <h2>El Mapa</h2>
        <div id="map"></div>
    </div>
</div>
