<!DOCTYPE html>
<html>
<head>
    <title>The World - @ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div id="sidebar">
        <img src="~/img/user.png" alt="headshop" class="headshop" />
        <span id="username">Sam Hastings</span>
        <ul class="menu">
            <li class="active"><a asp-controller="app" asp-action="index">Inicio</a> </li>
            <li><a asp-controller="app" asp-action="about">A cerca de</a></li>
            <li><a asp-controller="app" asp-action="contact">Contacto</a></li>
        </ul>
    </div>
    <div id="wrapper">
        <div id="main">
            <div>
                <button id="sidebarToggle">Toggle Menu</button>
            </div>
            @RenderBody()
        </div>
        <div id="footer">
            &copy; 2017 My World Company Ltda.
        </div>
    </div>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("scripts", false)

    <script type="text/javascript" src="~/js/oursite.js"></script>
</body>
</html>